
  <div class="diary-entry" id="#ID#">
    <div class="permalink-title">
      <a title="diary home" href="diary.html">	
	<pre class="letterhead">
   +-+-+-+-+ +-+-+-+ +-+-+-+-+-+ +-+-+ 
   |F|r|o|m| |T|h|e| |D|i|a|r|y| |o|f| 
   +-+-+-+-+ +-+-+-+ +-+-+-+-+-+ +-+-+ 
   +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+     
   |C|o|o|l|g|u|y|.|W|e|b|s|i|t|e|  
   +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+  
   Zach Mandeville's digital home   
      </pre></a>
    </div>
    <h2><abbr title="#DATE#">Gencon Diary 1</abbr></h2>
    <a class="share" title="shareable link" href="##ID#">Shareable Link</a>
  </div>
