<!doctype html>
<head>
  <meta name="viewport" content = "width=device=width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>#title#</title>
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
  <link rel="stylesheet" type="text/css" href="../styles/colors.css">
</head>
<body class="writing">
  <p class="breadcrumb"> you are on <a title="coolguy dot website home" href="../index.html" class="cool-link writing">coolguy.website</a> enjoy more <a title="writing index" href="index.html" class="cool-link writing">writing</a></p>
  <div class="container">
    <section id="title">
      <div class="writing-piece_titlebox">
	<div class="writing-piece_title-wedge"></div> 
	<div class="writing-piece_title">#title#</div>
      </div>
      <p class="writing-piece_byline">By Zach Mandeville</p>
    </section>
    <section id="the-writing" class="writing-piece">
      #BEGIN
    </section>
</body>


