/***************** Our Colors *******************
 * This defines all the colors on coolguy      *
 * and the variable in which to reference them!*
 *---------------------------------------------*/

:root {
  --orange-dust: #db8d69;
  --paper-pad: #d6ecff;
  --ink-blue_text: #5fbcc8;
  --purple-dusk: #6c448a;
}


